langchain
langgraph
langchain_google_genai
python-dotenv
pillow
ipython
langchain-experimental
opencv-python  
librosa   
langgraph-checkpoint-sqlite
pyppeteer
fastapi[standart]
python-dotenv
python-multipart
